{% extends 'Partials/header.html.twig' %}
{% block title %}Usuario
{% endblock %}

{% block content %}
	
	{{ parent() }}
<div class="wrap"></div>
<div class="container d-flex h-100 w-100">
    <div class="col-4 d-flex bg-light flex-column presentacion-usuario">
        <div class="img-user">
			<img class="" src=''></img>
		</div>
        <div class="pre-info">
            <div class="user-name">
                {{ UsNombre }}
            </div>
            <div class="profesion">
                Desarrollador web
            </div>
        </div>
        <div class="btn btn-primary" style='margin-bottom:1rem;'>Editar presentacion <i
                class="fa-light fa-pen-to-square"></i></div>
    </div>
    <div class="col-8 bg-light info-usr">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <i>Siguiente</i> <i class="fa-sharp fa-light fa-arrow-right-long"></i>
        </div>
        <form class="row g-3" action='/home' method='POST'>
            <div class="col-md-8">
                <label for="nombre" class="form-label">Correo</label>
                <input type="email" class="form-control" placeholder='Correo' value='{{ UsEmail }}'>
            </div>
            <div class="col-md-4">
                <label for="apellido" class="form-label">Contraseña</label>
                <input type="password" class="form-control" placeholder='Ingrese su contrasena' value={{ UsPassword|slice(0,8) }}>
            </div>
            <div class="col-md-4">
                <label for="email" class="form-label">Tel.</label>
                <input type="numer" class="form-control" placeholder='Digita tu numero' value={{ UsTelefono }}>
            </div>
            <div class="col-md-8">
                <label for="inputState" class="form-label">Identificacion</label>
                <input type="text" name="identificacion" id=""
                    placeholder='Ingresa tu numero de identificacion' class='form-control'>
            </div>
            <div class="col-md-6">
				<label for="pais">Pais</label>
                <select class="form-select">
                    <option selected>Seleciona tu pais de recidencia</option>
                    <option value="1" selected>Colombia</option>
                    <option value="2">Panama</option>
                    <option value="3">Brasil</option>
                </select>
            </div>
            <div class="col-md-6">
			<label for="ciudad">Ciudad</label>
                <select class="form-select">
                    <option selected>Seleciona tu ciudad de recidencia</option>
                    <option value="1" selected>Bogota</option>
                    <option value="2">Ciudad 21</option>
                    <option value="3">Ciudad 2</option>
                </select>
            </div>
            <div class="col-md-12">
                <label for="inputState" class="form-label">Direccion de residencia</label>
                <input type="text" name="direccion" id="" class='form-control'
                    placeholder='Digite su direccion de residencia'>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-danger me-md-2" type="button" onclick='Usuario('Eliminar')'>Eliminar cuenta</button>
                <button class="btn btn-primary" type="button">Actualizar</button>
            </div>
        </form>
    </div>
</div>
<div class="wrap"></div>
<div class="container post">
    <!-- Reportes -->
    <h2>Mis postulaciones</h2>
	<div class="row bg-white item-job align-content-center">
		<div class="col-md-3">
			<div class="d-flex flex-column">
				<strong>Desarrollador Senior</strong>
				<span>Helbatos S.A.S</span>
				<span>Bogota D.C., Bogota D.C</span>
			</div>
		</div>
		<div class="col-2">
			<div class="btn btn-primary">
				<span>Aplicado</span>
			</div>
		</div>
		<div class="col-3">
			<div class="d-flex flex-column txt-post">
				<span>Hace 2 dias</span>
				<i>32 candidatos postulados</i>
			</div>
		</div>
		<div class="col-4">
			<div class="botones d-flex justify-content-end justify-content-evenly">
				<button class="btn btn-danger"><i class="fa-sharp fa-light fa-xmark"></i>  Cancelar postulacion</button>
				<button class="btn btn-primary">Ver oferta</button>
			</div>
		</div>
	</div>
		<div class="row bg-white item-job align-content-center">
		<div class="col-md-3">
			<div class="d-flex flex-column">
				<strong>Desarrollador Senior</strong>
				<span>Helbatos S.A.S</span>
				<span>Bogota D.C., Bogota D.C</span>
			</div>
		</div>
		<div class="col-2">
			<div class="btn btn-primary">
				<span>Aplicado</span>
			</div>
		</div>
		<div class="col-3">
			<div class="d-flex flex-column txt-post">
				<span>Hace 2 dias</span>
				<i>32 candidatos postulados</i>
			</div>
		</div>
		<div class="col-4">
			<div class="botones d-flex justify-content-end justify-content-evenly">
				<button class="btn btn-danger"><i class="fa-sharp fa-light fa-xmark"></i>  Cancelar postulacion</button>
				<button class="btn btn-primary">Ver oferta</button>
			</div>
		</div>
	</div>
		<div class="row bg-white item-job align-content-center">
		<div class="col-md-3">
			<div class="d-flex flex-column">
				<strong>Desarrollador Senior</strong>
				<span>Helbatos S.A.S</span>
				<span>Bogota D.C., Bogota D.C</span>
			</div>
		</div>
		<div class="col-2">
			<div class="btn btn-primary">
				<span>Aplicado</span>
			</div>
		</div>
		<div class="col-3">
			<div class="d-flex flex-column txt-post">
				<span>Hace 2 dias</span>
				<i>32 candidatos postulados</i>
			</div>
		</div>
		<div class="col-4">
			<div class="botones d-flex justify-content-end justify-content-evenly">
				<button class="btn btn-danger"><i class="fa-sharp fa-light fa-xmark"></i>  Cancelar postulacion</button>
				<button class="btn btn-primary">Ver oferta</button>
			</div>
		</div>
	</div>
		<div class="row bg-white item-job align-content-center">
		<div class="col-md-3">
			<div class="d-flex flex-column">
				<strong>Desarrollador Senior</strong>
				<span>Helbatos S.A.S</span>
				<span>Bogota D.C., Bogota D.C</span>
			</div>
		</div>
		<div class="col-2">
			<div class="btn btn-primary">
				<span>Aplicado</span>
			</div>
		</div>
		<div class="col-3">
			<div class="d-flex flex-column txt-post">
				<span>Hace 2 dias</span>
				<i>32 candidatos postulados</i>
			</div>
		</div>
		<div class="col-4">
			<div class="botones d-flex justify-content-end justify-content-evenly">
				<button class="btn btn-danger"><i class="fa-sharp fa-light fa-xmark"></i>  Cancelar postulacion</button>
				<button class="btn btn-primary">Ver oferta</button>
			</div>
		</div>
	</div>



    <div class="d-grid gap-2 d-md-flex justify-content-md-end pag">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                    <span class="page-link">2</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

{% endblock %}
